.tip-wrap {
	color: #ffffff;
	background-color: #000000;
	opacity: 0.8;
	width: 200px;
	z-index: 13000;
}

.tip {
	padding: 8px;
}

.tip-text {
	font-size: 11px;
}

.dca {
	font-family: Courier, monospace;
}

.dca a {
	text-decoration: none;
}

.dca a:hover {
	text-decoration: underline;
}

.dca .string {
	color: #008200;
}

.dca .comments {
	color: #008200;
}

.dca .variable {
	color: #aa7700;
}

.dca .integer,
.dca .double {
	color: #009900;
}

.dca .keyword {
	color: #006699;
}